<% @footer_links = Block.where(footer: true).where(visible: true) %>
<% @footer_copyright = Block.find_by(tag: "copyright") %>

<div class= "footer">
  <% @footer_links.each do |footer_link| %>
    <%= link_to image_tag(footer_link.picture, class: "footer-link"), footer_link.link, target: "_blank" %>
  <% end %>
  <div class= "footer-icon">
    <%= image_tag "footericon-v2.png" %>
  </div>
  <div class= "footer-copyright">
    <%= link_to @footer_copyright.link, target: "_blank" do %>
      <%= @footer_copyright.title %><br>
      <%= @footer_copyright.description.gsub("\n", "<br/>").html_safe %>
    <% end %>
  </div>
</div>
