<div class="row">
  <!-- =============== GAUCHE =============== -->
  <div class="col-sm-7">
    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>
          <%= f.input :firstname, label: "Prénom" %>
          <%= f.input :lastname, label: "Nom" %>
          <%= f.input :email %>
          <%= f.input :phone, label: "Téléphone", class: "telinput" %>
          <%= f.input :birth, label: "Date de naissance", as: :date, start_year: Date.today.year - 90,end_year: Date.today.year - 12, discard_day: false,order: [ :day, :month, :year  ] %>
        <%= f.input :adress, label: "Adresse", as: :text %>
        <%= f.submit class: "inscription", id:"profilesave", value: "Enregistrer"%>
    <% end %>
  </div>
  <!-- =============== DROITE =============== -->
  <div class="col-sm-5">

  </div>
</div>
