<div class="navbar-virtualart">

  <!-- Right Navigation -->
  <div class="navbar-virtualart-right hidden-xs hidden-sm">

    <!-- logo -->
    <%= image_tag "logovirtualart.png", class: "navbar-logo" %>
    <!-- Links -->

    <%= link_to t(".sign_in", default: "Accueil"), root_path %> |
    <%= link_to t(".sign_in", default: "Cours"), courses_path %> |
    <%= link_to t(".sign_in", default: "Stages"), stages_path %> |
    <%= link_to t(".sign_in", default: "Qui suis-je"), profile_path %> |
    <%= link_to t(".sign_in", default: "Réalisations"), realisations_path %> |

    <div class="dropdown">
      <a data-toggle="dropdown">Vidéos</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-virtualart-dropdown-menu">
      <% @courses = Course.all %>
        <% @courses.each do |course| %>
          <li>
            <%= link_to(course.title, course_path(course)) %>
          </li>
        <% end %>
      </ul>
    </div> |

    <%= link_to t(".sign_in", default: "Contact"), contact_path %> |

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-virtualart-item">
        <div class="dropdown">
          <a data-toggle="dropdown"><%= current_user.email %></a>
          <ul class="dropdown-menu dropdown-menu-right navbar-virtualart-dropdown-menu">
            <% if current_user && current_user.admin %>
              <li>
                <%= link_to rails_admin_path do %>
                  <%= t(".sign_in", default: "Admin") %>
                <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to("Mon profil", edit_user_path(current_user)) %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                </i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-virtualart-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-virtualart-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

