<%= render "shared/carousel" %>
<!-- =============== BANNIERE DE BASE =============== -->
<!-- <div class="homeban" >
  <%= image_tag @carousels.shuffle.last.picture, class: "home-ban" %>
</div> -->
<!-- =============== ROW & CONTAINER =============== -->
<div class="container">
  <div class="row">
<!-- =============== VOLET GAUCHE =============== -->
    <div class="col-sm-8">
      <!-- ==== LOGICIELS ==== -->
      <% if @home_logiciel.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <h4><%= @home_logiciel.title %></h4>
          <p><%= @home_logiciel.description.gsub("\n", "<br/>").html_safe %></p>
          <% @softwares.each do |software| %>
            <div class= "home-logo">
              <%= image_tag software.logo %><br>
              <%= software.title %>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- ==== VIDEO  ==== -->
      <% if @home_video.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <h4><%= @home_video.title %></h4>
            <div class= "home-video">
              <div class="embed-responsive embed-responsive-16by9 home-video">
              <iframe width="854" height="480" src= "https://www.youtube.com/embed/<%= @home_video.link %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
              </div>
              <p><%= @home_video.description.gsub("\n", "<br/>").html_safe %></p>
          </div>
        </div>
      <% end %>
      <!-- ==== ESPACE ==== -->
      <% if @home_espace.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <h4><%= @home_espace.title %></h4>
          <div class= "row">
            <div class="home-espace col-sm-8">
              <%= image_tag @home_espace.picture %>
            </div>
            <div class= "home-espace col-sm-4">
              <p><%= @home_espace.description.gsub("\n", "<br/>").html_safe %></p>
            </div>
          </div>
        </div>
      <% end %>
      <!-- ==== MATERIEL ==== -->
      <% if @home_materiel.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <div class= "home-materiel">
            <h4><%= @home_materiel.title %></h4>
            <%= image_tag @home_materiel.picture %>
            <p><%= @home_materiel.description.gsub("\n", "<br/>").html_safe %></p>
          </div>
        </div>
      <% end %>
      <!-- =============== CLOSE VOLET GAUCHE =============== -->
    </div>
<!-- =============== VOLET DROIT =============== -->
    <div class="col-sm-4">
      <!-- ==== NEWS ==== -->
      <% if @news.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <div class="home-news">
            <h4><%= @news.title %></h4>
            <p><%= @news.description.gsub("\n", "<br/>").html_safe %></p>
          </div>
          <% if current_user %>
            <%= link_to edit_user_path(current_user) do %>
            <div class= "inscription">
              Consulter le formulaire d'inscription
            </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
            <div class= "inscription">
              Créer d'abord un compte gratuit !
            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <!-- ==== POST ==== -->
      <% if @post.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <div class="home-post">
            <h4><%= @post.title %></h4>
            <%= link_to image_tag(@post.picture, class: "full"), @post.link%>
          </div>
        </div>
      <% end %>
      <!-- ==== COEUR ==== -->
      <% if @coeur.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <div class="home-coeur">
            <h4><%= @coeur.title %></h4>
            <div class="embed-responsive embed-responsive-16by9 home-video">
              <iframe width="854" height="480" src= "https://www.youtube.com/embed/<%= @coeur.link %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
              </div>
          </div>
        </div>
      <% end %>
      <!-- ==== LIVREDOR ==== -->
      <% if @livredor.visible %>
        <div class= "block">
        <%= image_tag "puce-v5.png", class: "puce" %>
          <div class="home-coeur">
            <h4><%= @livredor.title %></h4>
            <%= image_tag @livredor.picture, class: "right" %>
          </div>
        </div>
      <% end %>
    <!-- =============== CLOSE VOLET DROIT =============== -->
    </div>
<!-- =============== ROW & CONTAINER =============== -->
  </div>
</div>
